.popup__title {
    max-width: 100%;
    margin: 0;
    padding-bottom: 54px;
    align-self: flex-start;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
}
  
@media screen and (max-width: 768px) {
    .popup__title {
      padding-bottom: 75px;
      font-size: 18px;
      line-height: 1.22;
    }
}