.card__button-delete {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../images/basket.svg);
  cursor: pointer;
}
  
.card__button-delete:hover {
  opacity: .6;
}