.button_type_edit {
    min-width: 24px;
    min-height: 24px;
    justify-self: end;
    align-self: center;
    background-image: url('../../../images/Edit.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 3px;
}
  
@media screen and (max-width: 540px) {
    .button_type_edit {
      min-width: 18px;
      min-height: 18px;
    }
}